xsd/advantage_list.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="common.xsd" />

	<xs:element name="advantage_list">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="advantage_container" />
				<xs:element ref="advantage" />
			</xs:choice>
			<xs:attribute name="unique_id" type="xs:string" use="optional" />
			<xs:attribute name="version" type="xs:unsignedShort" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="advantage_container">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="categories" />
				<xs:element ref="advantage_container" />
				<xs:element ref="advantage" />
				<xs:element ref="modifier" />
				<xs:element name="name" type="StringWithCompareAttribute" />
				<xs:element name="reference" type="xs:string" />
				<xs:element name="notes" type="StringWithCompareAttribute" />
			</xs:choice>
			<xs:attribute name="version" type="xs:unsignedShort" use="required" />
			<xs:attribute name="open" type="xs:string" use="required" />
			<xs:attribute name="type" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="advantage">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="categories" />
				<xs:element ref="prereq_list" />
				<xs:element ref="dr_bonus" />
				<xs:element ref="attribute_bonus" />
				<xs:element ref="skill_bonus" />
				<xs:element ref="spell_bonus" />
				<xs:element ref="weapon_bonus" />
				<xs:element ref="melee_weapon" />
				<xs:element ref="ranged_weapon" />
				<xs:element ref="cost_reduction" />
				<xs:element ref="cr" />
				<xs:element ref="modifier" />
				<xs:element name="name" type="StringWithCompareAttribute" />
				<xs:element name="type" type="xs:string" />
				<xs:element name="levels" type="xs:unsignedInt" />
				<xs:element name="points_per_level" type="xs:short" />
				<xs:element name="base_points" type="xs:integer" />
				<xs:element name="reference" type="xs:string" />
				<xs:element name="notes" type="StringWithCompareAttribute" />
			</xs:choice>
			<xs:attribute name="version" type="xs:unsignedShort" use="required" />
			<xs:attribute name="round_down" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="cr">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:unsignedShort">
					<xs:attribute name="adj" type="xs:string" use="optional" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
