xsd/character.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="skill_list.xsd" />
	<xs:include schemaLocation="advantage_list.xsd" />
	<xs:include schemaLocation="spell_list.xsd" />
	<xs:include schemaLocation="equipment_list.xsd" />

	<xs:element name="character">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="skill_list" />
				<xs:element ref="advantage_list" />
				<xs:element ref="spell_list" />
				<xs:element ref="equipment_list" />
				<xs:element ref="profile" />
				<xs:element ref="print_settings" />
				<xs:element name="created_date" type="xs:string" />
				<xs:element name="modified_date" type="xs:string" />
				<xs:element name="HP" type="xs:unsignedShort" />
				<xs:element name="FP" type="xs:short" />
				<xs:element name="total_points" type="xs:short" />
				<xs:element name="ST" type="xs:unsignedShort" />
				<xs:element name="DX" type="xs:unsignedShort" />
				<xs:element name="IQ" type="xs:unsignedShort" />
				<xs:element name="HT" type="xs:unsignedShort" />
				<xs:element name="will" type="xs:unsignedShort" />
				<xs:element name="perception" type="xs:unsignedShort" />
				<xs:element name="speed" type="xs:decimal" />
				<xs:element name="move" type="xs:unsignedShort" />
				<xs:element name="include_punch" type="xs:boolean" />
				<xs:element name="include_kick" type="xs:boolean" />
				<xs:element name="include_kick_with_boots" type="xs:boolean" />
			</xs:choice>
			<xs:attribute name="unique_id" type="xs:string" use="required" />
			<xs:attribute name="version" type="xs:unsignedShort" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="profile">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="player_name" type="xs:string" />
				<xs:element name="campaign" type="xs:string" />
				<xs:element name="name" type="xs:string" />
				<xs:element name="title" type="xs:string" />
				<xs:element name="age" type="xs:unsignedShort" />
				<xs:element name="birthday" type="xs:string" />
				<xs:element name="eyes" type="xs:string" />
				<xs:element name="hair" type="xs:string" />
				<xs:element name="skin" type="xs:string" />
				<xs:element name="handedness" type="xs:string" />
				<xs:element name="height" type="xs:string" />
				<xs:element name="weight" type="xs:string" />
				<xs:element name="SM" type="xs:short" />
				<xs:element name="gender" type="xs:string" />
				<xs:element name="race" type="xs:string" />
				<xs:element name="body_type" type="xs:string" />
				<xs:element name="notes" type="xs:string" />
				<xs:element name="tech_level" type="xs:string" />
				<xs:element name="portrait" type="xs:string" />
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="print_settings">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="orientation" type="xs:string" />
				<xs:element name="width" type="xs:decimal" />
				<xs:element name="height" type="xs:decimal" />
				<xs:element name="top_margin" type="xs:decimal" />
				<xs:element name="left_margin" type="xs:decimal" />
				<xs:element name="bottom_margin" type="xs:decimal" />
				<xs:element name="right_margin" type="xs:decimal" />
				<xs:element name="ink_chromaticity" type="xs:string" />
				<xs:element name="sides" type="xs:string" />
				<xs:element name="quality" type="xs:string" />
				<xs:element name="resolution" type="xs:string" />
			</xs:choice>
			<xs:attribute name="printer" type="xs:string" use="optional" />
			<xs:attribute name="units" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>