xsd/skill_list.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="common.xsd" />
	
	<xs:element name="skill_list">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="skill_container" />
				<xs:element ref="skill" />
				<xs:element ref="technique" />
			</xs:choice>
			<xs:attribute name="unique_id" type="xs:string" use="optional" />
			<xs:attribute name="version" type="xs:unsignedShort" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="skill_container">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="categories" />
				<xs:element ref="skill_container" />
				<xs:element ref="skill" />
				<xs:element ref="technique" />
				<xs:element name="name" type="StringWithCompareAttribute" />
				<xs:element name="notes" type="StringWithCompareAttribute" />
				<xs:element name="reference" type="xs:string" />
			</xs:choice>
			<xs:attribute name="version" type="xs:unsignedShort" use="required" />
			<xs:attribute name="open" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="skill">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="default" />
				<xs:element ref="categories" />
				<xs:element ref="prereq_list" />
				<xs:element ref="attribute_bonus" />
				<xs:element ref="weapon_bonus" />
				<xs:element name="name" type="StringWithCompareAttribute" />
				<xs:element name="specialization" type="StringWithCompareAttribute" />
				<xs:element name="notes" type="StringWithCompareAttribute" />
				<xs:element name="encumbrance_penalty_multiplier" type="xs:unsignedInt" />
				<xs:element name="tech_level" type="xs:string" />
				<xs:element name="difficulty" type="xs:string" />
				<xs:element name="points" type="xs:unsignedInt" />
				<xs:element name="reference" type="xs:string" />
			</xs:choice>
			<xs:attribute name="version" type="xs:unsignedShort" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="technique">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="name" type="StringWithCompareAttribute" />
				<xs:element ref="default" />
				<xs:element ref="categories" />
				<xs:element ref="prereq_list" />
				<xs:element ref="melee_weapon" />
				<xs:element name="difficulty" type="xs:string" />
				<xs:element name="points" type="xs:unsignedShort" />
				<xs:element name="reference" type="xs:string" />
				<xs:element name="notes" type="StringWithCompareAttribute" />
			</xs:choice>
			<xs:attribute name="version" type="xs:unsignedShort" use="required" />
			<xs:attribute name="limit" type="xs:short" use="optional" />
		</xs:complexType>
	</xs:element>
</xs:schema>
