xsd/spell_list.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="common.xsd" />

	<xs:element name="spell_list">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="spell_container" />
				<xs:element ref="spell" />
			</xs:choice>
			<xs:attribute name="unique_id" type="xs:string" use="optional" />
			<xs:attribute name="version" type="xs:unsignedShort" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="spell_container">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="categories" />
				<xs:element ref="spell_container" />
				<xs:element ref="spell" />
				<xs:element name="name" type="StringWithCompareAttribute" />
				<xs:element name="notes"  type="StringWithCompareAttribute" />
			</xs:choice>
			<xs:attribute name="version" type="xs:unsignedShort" use="required" />
			<xs:attribute name="open" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="spell">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="default" />
				<xs:element ref="categories" />
				<xs:element ref="prereq_list" />
				<xs:element ref="melee_weapon" />
				<xs:element ref="ranged_weapon" />
				<xs:element name="name" type="xs:string" />
				<xs:element name="tech_level" type="xs:unsignedShort" default="0" />
				<xs:element name="college" type="StringWithCompareAttribute" />
				<xs:element name="power_source" type="xs:string" />
				<xs:element name="spell_class" type="xs:string" />
				<xs:element name="casting_cost" type="xs:string" />
				<xs:element name="maintenance_cost" type="xs:string" />
				<xs:element name="casting_time" type="xs:string" />
				<xs:element name="duration" type="xs:string" />
				<xs:element name="points" type="xs:unsignedShort" />
				<xs:element name="reference" type="xs:string" />
				<xs:element name="notes" type="xs:string" />
			</xs:choice>
			<xs:attribute name="version" type="xs:unsignedShort" use="required" />
			<xs:attribute name="very_hard" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
</xs:schema>
