xsd/template.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="skill_list.xsd" />
	<xs:include schemaLocation="advantage_list.xsd" />
	<xs:include schemaLocation="spell_list.xsd" />
	<xs:include schemaLocation="equipment_list.xsd" />

	<xs:element name="template">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="skill_list" />
				<xs:element ref="advantage_list" />
				<xs:element ref="spell_list" />
				<xs:element ref="equipment_list" />
				<xs:element name="notes" type="StringWithCompareAttribute" />
			</xs:choice>
			<xs:attribute name="unique_id" type="xs:string" use="required" />
			<xs:attribute name="version" type="xs:unsignedShort" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>